// Variables
$primary-color: #0095BF;
// Mixins
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
// Initial styling which will be inherited by each viewport
html {
    height: 100%;
}

body {
    padding-top: 54px;
    min-height: 100%;
    font-size: 100%;
}

#footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.login {
    height: 100vh;
    background: $primary-color;

    .login--title {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 600px;
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 4rem;
            font-weight: bold;
            color: white;
        }
    }

    .box {
        width: 400px;
        height: 320px;
        margin: 0 auto;
        padding: 20px;
        color: white;
        position: relative;

        .form-group {
            .form-control {
                background-color: lighten($primary-color, 5%);
                border-radius: 0;
                border-top-color: $primary-color;
                border-right-color: $primary-color;
                border-bottom: 3px solid white;
                border-left-color: $primary-color;
                border-radius: none;
                color: white;

                &:focus {
                    border-top-color: $primary-color;
                    border-right-color: $primary-color;
                    border-bottom: 3px solid white;
                    border-left-color: $primary-color;
                    background-color: lighten($primary-color, 4%);
                }
            }

            label {
                font-size: 0.75rem;
            }

            .login--btn {
                background-color: $primary-color;
                border: 1px solid white;
                border: 3px solid white;
                position: absolute;
                bottom: 20px;
                width: 360px;
                color: white;
                font-weight: bold;
                font-size: 1.25rem;
                outline: none;
                text-shadow: none;
                @include transition(.3s ease);

                &:hover {
                    background-color: darken($primary-color, 3.5%);
                    @include transition(.5s ease);
                }

                &:active {
                    background-color: darken($primary-color, 5%);
                    @include transition(.5s ease);
                }
            }
        }
    }
}
// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) {}
// Medium devices (tablets, 768px and uo)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
